<h1 mat-dialog-title>Nuevo arriendo</h1>
<form [formGroup]="validations_form" (ngSubmit)="register(validations_form.value)" style="width: 100%;">
  <div mat-dialog-content>

    <mat-form-field style="width: 100%;">
      <mat-label>Película</mat-label>
      <input type="text"
            matInput
            #movie
            formControlName="movie"
            [matAutocomplete]="movies">
      <mat-autocomplete  #movies="matAutocomplete" [displayWith]="displayFnMovie">
        <mat-option *ngFor="let option of dataMovies | filter: movie.value : 'title'" [value]="option">
          {{option.title}}
        </mat-option>
      </mat-autocomplete>
      <ng-container *ngFor="let validation of validation_messages.movie">
        <mat-error *ngIf="validations_form.get('movie').hasError(validation.type) && (validations_form.get('movie').dirty || validations_form.get('movie').touched)">
          {{ validation.message }}
        </mat-error>
      </ng-container>
    </mat-form-field>



  </div>
  <div mat-dialog-actions>
    <div class="spacer"></div>
    <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button type="submit" [disabled]="!validations_form.valid" color="primary">Guardar</button>
  </div>
</form>
