<ngx-spinner></ngx-spinner>
<mat-toolbar color="primary" class="mat-elevation-z10">
  <button (click)="sidenav.toggle()" *ngIf="isLogged" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Cinema Angular</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->
  <button
    *ngIf="!isLogged"
    mat-icon-button
    (click)="openModal()"
    matTooltip="Iniciar sersion"
    class="example-icon">
    <mat-icon>perm_identity</mat-icon>
  </button>
  <button
    *ngIf="isLogged"
    mat-icon-button
    (click)="logout()"
    matTooltip="Cerrar sesión"
    class="example-icon">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container hasBackdrop="false" >

  <mat-sidenav #sidenav mode="over" class="sidenav-custom" >
    <mat-selection-list [multiple]="false">
      <mat-list-option [routerLink]="[route.url]" (click)="verifiRoute(route.url)"  *ngFor="let route of routes" [value]="route.url">
        <mat-icon mat-list-icon>{{route.icon}}</mat-icon>
        {{route.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [class.container]="path !== 'dashboard'">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
