<h1 mat-dialog-title>Nuevo usuario</h1>
<form [formGroup]="validations_form" (ngSubmit)="register(validations_form.value)" style="width: 100%;">
  <div mat-dialog-content>


    <mat-form-field style="width: 100%;">
      <mat-label>Identificación</mat-label>
      <input matInput formControlName="id">
      <ng-container *ngFor="let validation of validation_messages.id">
        <mat-error *ngIf="validations_form.get('id').hasError(validation.type) && (validations_form.get('id').dirty || validations_form.get('id').touched)">
          {{ validation.message }}
        </mat-error>
      </ng-container>
    </mat-form-field>

    <mat-form-field style="width: 100%; margin: 0;">
      <mat-label>Nombres</mat-label>
      <input matInput formControlName="name">
      <ng-container *ngFor="let validation of validation_messages.name">
        <mat-error *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
          {{ validation.message }}
        </mat-error>
      </ng-container>
    </mat-form-field>

    <mat-form-field style="width: 100%; margin: 0;">
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="last_name">
      <ng-container *ngFor="let validation of validation_messages.last_name">
        <mat-error *ngIf="validations_form.get('last_name').hasError(validation.type) && (validations_form.get('last_name').dirty || validations_form.get('last_name').touched)">
          {{ validation.message }}
        </mat-error>
      </ng-container>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <div class="spacer"></div>
    <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button type="submit" [disabled]="!validations_form.valid" color="primary">{{buttonActionTitle}}</button>
  </div>
</form>
